@media screen and (max-width: 1100px) {
    .top-banner{
        flex-wrap: wrap;
        flex-direction: column;
    
}
.middle-banner{
    flex-wrap: wrap;
    flex-direction: column;
}
.experience{
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-bottom{
    flex-wrap: wrap;
    flex-direction: column;
}
    @media screen and (max-width: 1000px) {
        .top-banner{
            flex-wrap: wrap;
            flex-direction: column;
        
    }
    .middle-banner{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .experience{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-bottom{
        flex-wrap: wrap;
        flex-direction: column;
    }
    @media screen and (max-width: 980px) {
        .top-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        }}
        @media screen and (max-width: 1000px) {
            .top-banner{
                flex-wrap: wrap;
                flex-direction: column;
            
        }
        .middle-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .experience{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .footer-bottom{
            flex-wrap: wrap;
            flex-direction: column;
        }
    @media screen and (max-width: 880px) {
        .top-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        }}
        @media screen and (max-width: 1000px) {
            .top-banner{
                flex-wrap: wrap;
                flex-direction: column;
            
        }
        .middle-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .experience{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .footer-bottom{
            flex-wrap: wrap;
            flex-direction: column;
        }
    @media screen and (max-width: 600px) {
        .top-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        }}
        @media screen and (max-width: 1000px) {
            .top-banner{
                flex-wrap: wrap;
                flex-direction: column;
            
        }
        .middle-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .experience{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .footer-bottom{
            flex-wrap: wrap;
            flex-direction: column;
        }
    @media screen and (max-width: 440px) {
        .top-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        }}
        @media screen and (max-width: 1000px) {
            .top-banner{
                flex-wrap: wrap;
                flex-direction: column;
            
        }
        .middle-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .experience{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .footer-bottom{
            flex-wrap: wrap;
            flex-direction: column;
        }
    @media screen and (max-width: 360px) {
        .top-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        }}
        @media screen and (max-width: 1000px) {
            .top-banner{
                flex-wrap: wrap;
                flex-direction: column;
            
        }
        .middle-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .experience{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .footer-bottom{
            flex-wrap: wrap;
            flex-direction: column;
        }}
    @media screen and (max-width: 300px){
        .top-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        }}
        @media screen and (max-width: 1000px) {
            .top-banner{
                flex-wrap: wrap;
                flex-direction: column;
            
        }
        .middle-banner{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .experience{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .footer-bottom{
            flex-wrap: wrap;
            flex-direction: column;
        }}