body
{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width
{
    width:40% ;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    border: 2px solid white;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.middle-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
background-position: right;
}

.experience-highlight{
    color: violet;
}

.single-experience{
    border: 10px 20px;
}
.single-experience{
    box-shadow: 10px 20px 40px grey;
    border-radius: 5px;
    height: 40%;
    
}
.single-experience h2{
    text-align: center;
}
.single-experience h3{
    text-align: center;
}
.experience
{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stac
{
    border-left:7px solid;
    border-image: linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#baby-web
{ 
    border-left:7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

}
footer p{
    text-align: center;
    color: white;
}
footer h2{
    text-align: center;
    color: white;
}
footer h3{
    text-align: center;
    color: white;
}
.footer-bottom{
    height: 250px;
    border-top:5px solid;
    border-image: linear-gradient(180deg, #5905f5,tomato);
    border-image-slice: 1;
    background-color: black;
}

.nav-footer{
    width:26% ;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.header{
    height: 80 px;
    border-top:5px solid;
    border-image: linear-gradient(180deg, #5905f5,tomato);
    border-bottom:5px solid;
    border-image: linear-gradient(180deg, #5905f5,tomato);
    border-image-slice: 1;
    background-color: black;
}
header h3
{
    color: white;text-align: center;
}
.blog{
    background-color: blanchedalmond;
    padding: 10px;
    margin: 1px;
}
footer h4{
    color: white;
    text-align: center;
}
fieldset{
    background-color: transparent;

    
}
fieldset h5{
    color: white;
}
fieldset legend{
    color: white;
}
.Rate{
    color: green;
}
label p{
    color: white;
    align-self: center;
}
textarea{
    height: 50px;
}
.sub{
    text-align: center;
 
}